
@{
    ViewBag.Title = "Baohanh";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<br />
<div class="container">
    <h5>CHÍNH SÁCH BẢO HÀNH</h5>
</div>
<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <b> 1. Điều kiện bảo hành: </b>
        </header><!-- sect-heading -->
        <article>
            <p>Sản phẩm được bảo hành miễn phí nếu đảm bảo tất cả các điều kiện sau:</p>
            <p>
                – Sản phẩm thuộc danh mục được bảo hành từ Nhà sản xuất hoặc Nhà phân phối.
            </p>
            <p>
                – Sản phẩm bị lỗi kỹ thuật do Nhà sản xuất.
            </p>
            <p>
                – Thời hạn bảo hành trên phiếu bảo hành vẫn còn hiệu lực.
            </p>
            <p>
                – Phiếu bảo hành còn nguyên vẹn, không chắp vá, không bị gạch xóa hay sửa chữa, bôi bẩn.
            </p>
            <p>
                – Phiếu bảo hành đầy đủ thông tin: mã sản phẩm, số seri, ngày sản xuất,
                tên khách hàng sử dụng, địa chỉ, ngày mua (đối với các sản phẩm không áp dụng Bảo hành điện tử).
            </p>
            <p>
                – Tem bảo hành và tem niêm phong (nếu có) của Nhà sản xuất trên sản phẩm còn nguyên vẹn.
            </p>
            <p>Sản phẩm không được bảo hành hoặc sẽ phát sinh phí bảo hành nếu rơi vào một trong các trường hợp sau:</p>
            <p>
                – Sản phẩm không thuộc danh mục được bảo hành từ Nhà sản xuất hoặc nhà phân phối.
            </p>
            <p>
                – Sản phẩm không thỏa mãn một trong những điều kiện bảo hành ở mục 1.
            </p>
            <p>
                – Số series, model sản phẩm không khớp với Phiếu bảo hành.
            </p>
            <p>
                – Khách hàng tự ý can thiệp sửa chữa sản phẩm hoặc sửa chữa tại những trung tâm bảo hành không được sự ủy nhiệm của Nhà sản xuất.
            </p>
            <p>
                – Sản phẩm bị hư hỏng do lỗi người sử dụng, và lỗi hư hỏng không nằm trong phạm vi bảo hành của Nhà sản xuất.
            </p>
            <p>
                – Với trường hợp phát sinh phí bảo hành, nhân viên chăm sóc khách hàng của La Vie sẽ tư vấn đầy đủ thông tin cho khách hàng trước khi tiến hành các thủ tục bảo hành.
            </p>
        </article>
        <br />
        <header class="section-heading">
            <b> 2. Thời hạn bảo hành:: </b>
        </header><!-- sect-heading -->
        <article>
            <p>
                Bảo hành 12 tháng, tính từ ngày mua máy mới nếu sự cố hư hỏng do sự cố kỹ thuật của hãng sản xuất.
            </p>
        </article>
    <br />
        <header class="section-heading">
            <b> 3. Phương thức áp dụng bảo hành </b>
        </header><!-- sect-heading -->
        <article>
            <b>Địa điểm bảo hành:</b>
            <p>
                Địa điểm bảo hành được ghi trong phiếu bảo hành kèm theo sản phẩm. Quý khách vui lòng liên hệ trực tiếp với Trung tâm Bảo hành của Nhà cung cấp/Nhà Phân phối theo thông tin trong phiếu bảo hành.
            </p>
            <p>
                Bộ phận hỗ trợ chăm sóc khách hàng sẽ hỗ trợ hướng dẫn Quý khách hàng phương thức đến các trung tâm bảo hành bên ngoài của Nhà sản xuất,
                Nhà phân phối tham gia vào hệ thống bảo hành sản phẩm dịch vụ.
                Mọi thông tin của Nhà cung cấp thành viên được ghi trên phiếu biên nhận giao hàng/hóa đơn được đính kèm trong thùng hàng.
            </p>
            <p>
                Nếu Quý khách gặp khó khăn trong việc liên hệ Trung tâm Bảo hành, quý khách vui lòng liên hệ với bộ phận Chăm sóc khách hàng của LShope theo địa chỉ mail info@lshope.com hoặc số hotline 0379 191 764 để được hỗ trợ.
            </p>
            <br>
        </article>
        <article>
            <b>Thời gian thực hiện bảo hành</b>
            <p>
                Trong mọi trường hợp, 
                thời gian thực hiện bảo hành sản phẩm phụ thuộc vào chính sách và/hoặc mức độ sẵn có của thiết bị/sản phẩm thay thế của Trung Tâm Bảo Hành
                và sẽ được thông báo cụ thể cho Quý khách vào thời điểm Trung Tâm Bảo Hành nhận sản phẩm
                để bảo hành trong trường hợp quý khách tự đem sản phẩm đến Trung Tâm Bảo Hành; 
                hoặc ngay khi La Vie nhận được thông báo về thời gian bảo hành trong trường hợp quý khách thực hiện bảo hành sản phẩm qua
                LShope.
                </p>
            <p>
                Trong mọi trường hợp, LShope không chịu trách nhiệm về bất kỳ thiệt hại, mất mát nào xảy ra nếu Quý khách không thực hiện theo hướng dẫn tại Chính sách bảo hành này.
            </p>
            <br>
        </article>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
