
@{
    ViewBag.Title = "Muahang";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<br/>
<div class="container">
    <h5>CHÍNH SÁCH MUA HÀNG</h5>
</div>
    <section class="section-content padding-y">
        <div class="container">
            <header class="section-heading">
                <h6 class="section-title"> 1.CÁC BƯỚC ĐẶT HÀNG ONLINE: </h6>
            </header><!-- sect-heading -->
            <article>
                <b>Bước 1:</b>
                <p>
                    Chọn mặt hàng Quý khách quan tâm để xem các thông tin của sản phẩm, giá cả, phụ kiện, điều kiện bảo hành ...
                </p>
                <br>
                <b>Bước 2:</b>
                <p>
                    Khi  muốn mua sản phẩm nào nhấn chuột vào nút  "Đặt hàng" , hệ thống sẽ đưa sản phẩm được chọn vào giỏ hàng.
                    Quý khách có thể chọn "Tiếp tục mua hàng" để quay lại trang danh sách sản phẩm để thêm sản phẩm khác,
                    hoặc điều chỉnh số lượng cho sản phẩm vừa chọn.
                </p>
                <br>
                <b>Bước 3:</b>
                <p>
                    Khi đã chọn đủ số hàng ấn nút "Thanh toán".
                    Điền vào các thông tin cần thiết của Quý khách để chúng tôi tiện liên hệ, vui lòng gõ chính xác và có dấu.
                </p>
                <br>
                <b>Bước 4:</b>
                <p>
                    Bấm nút "Hoàn tất" để gửi đơn đặt hàng, ngay sau khi nhận được thông tin của Quý khách,
                    chúng tôi sẽ liên hệ trực tiếp với Quý Khách qua điện thoại hoặc Email để xác nhận đơn đặt hàng.
                </p>
                <br>
                <b>Lưu ý:</b>
                <p>
                    Quý khách vui lòng thanh toán 100% giá trị đơn hàng và phí vận chuyển ( nếu có),
                    LShope mới tiến hành giao hàng cho quý khách hàng.
                </p>
                <br>
            </article>
            <br />
            <header class="section-heading">
                <h6 class="section-title"> 2. MUA HÀNG TẠI SHOWROOM: </h6>
            </header><!-- sect-heading -->
            <article>

                <p>
                    ​- Đối với Quý khách hàng mua hàng tại showroom ,
                    Quý khách hàng vui lòng thanh toán 100% giá trị đơn hàng (áp dụng cho nhận hàng trong ngày)
                </p>
                <br>
                <p>
                    - Đối với Quý khách hàng nhận hàng nội thất sau, Quý khách vui lòng đặt cọc tối thiểu 500,000 VNĐ.
                </p>
                <br>
                <p>
                    ​- Đối với Quý khách hàng yêu cầu giao hàng ở tỉnh thành khác ngoài phạm vi giao hàng miễn phí,
                    Quý khách hàng vui lòng thanh toán 100% giá trị đơn hàng và phí vận chuyển (nếu có).
                </p>
                <br>
                <p>
                    - Đối với khách hàng đặt cọc giữ hàng đang có sẵn, LShope sẽ giữ hàng cho Quý khách hàng trong vòng 30 ngày,
                    sau 30 ngày Quý khách hàng phải thanh toán phần tiền còn lại nếu không LShope sẽ lấy hàng giữ và bán cho khách hàng khác đang có nhu cầu.
                    Khách hàng đặt cọc sẽ bị mất phần tiền cọc của mình vì được tính vào phí lưu kho giữ hàng.
                </p>
                <br>
                <p>
                    - Đối với những khách hàng đã thanh toán 100% giá trị đơn hàng nhưng chưa muốn nhận hàng vì một lý do nào đó,
                    LShope sẽ giữ hàng lưu kho cho quý khách hàng trong vòng 60 ngày.
                    Nấu sau 60 ngày quý khách hàng vẫn chưa lấy hàng,
                    LShope có quyền lấy hàng hóa của Quý khách hàng bán cho khách hàng khác đang có nhu cầu.
                    Quý khách hàng đã thanh toán sẽ phải chờ đến đợt hàng sau nếu kho hết hàng hoặc chuyển sang đơn hàng khác với giá trị bằng hoặc cao hơn đơn hàng cũ hoặc sẽ phải chịu mất toàn bộ số tiền đã thanh toán hoàn tất nếu không lấy hàng sau 60 ngày giữ hàng.
                </p>
                <br>
            </article>
        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
