@model  MyLibrary.Model.Posts
@{
    ViewBag.Title = "PostsPage";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<img width="100%" src="~/Content/images/posts/about_banner.png" />
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="content">
                LShop là nền tảng thương mại điện tử ở Đông Nam Á và Đài Loan.
            </h3>
            <p class="content">
                Ra mắt năm 2015,
                nền tảng thương mại LShop được xây dựng nhằm cung cấp cho người sử dùng những trải nghiệm dễ dàng,
                an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.
            </p>
            <br />
            <p class="content">
                Chúng tôi có niềm tin mạnh mẽ rằng trải nghiệm mua sắm trực tuyến phải đơn giản,
                dễ dàng và mang đến cảm xúc vui thích.
                Niềm tin này truyền cảm hứng và thúc đẩy chúng tôi mỗi ngày tại LShop.
            </p>
        </div>
    </div>
</div>
<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <h2 class="section-title">Mục tiêu của chúng tôi </h2>
        </header><!-- sect-heading -->
        <article>
            <img width="100%" src="~/Content/images/posts/muctieu.jpg" />
            <p>
                Chúng tôi thật sự tin tưởng vào sức mạnh khai triển của công nghệ
                và mong muốn góp phần làm cho thế giới trở nên tốt đẹp hơn
                bằng việc kết nối cộng đồng người mua và người bán thông qua việc cung cấp một nền tảng thương mại điện tử.
            </p>
            <br><br>
        </article>
        <header class="section-heading">
            <h2 class="section-title">Vị Trí của Chúng Tôi </h2>
        </header><!-- sect-heading -->
        <article>
            <img width="100%" src="~/Content/images/posts/trainghiem.jpg" />
            <p>
                Đối với người dùng trong khu vực,
                LShop mang đến trải nghiệm mua sắm tích hợp với vô số sản phẩm đa dạng chủng loại,
                cộng đồng người dùng năng động và chuỗi dịch vụ liền mạch.
            </p>
            <br><br>
        </article>
        <header class="section-heading">
            <h2 class="section-title">Tính Cách của Chúng Tôi </h2>
        </header><!-- sect-heading -->
        <article>
            <img width="100%" src="~/Content/images/posts/tichcuc.jpg" />
            <p>
                Để định nghĩa chúng tôi là ai
                - thông qua lời nói hay cách ứng xử trong nhiều trường hợp khác nhau
                - thì thực chất, chúng tôi Gần gũi,
                Vui vẻ và Đồng lòng. Đây là những đặc tính chính và nổi bật trong từng bước đường phát triển của LShop.
            </p>
            <br><br>
        </article>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
