
@{
    ViewBag.Title = "Vanchuyen";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<br>
<div class="container">
    <h5>CHÍNH SÁCH VẬN CHUYỂN</h5>
</div>
<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <b> 1. PHẠM VI ÁP DỤNG : </b>
        </header><!-- sect-heading -->
        <article>
            <p>
                Tất cả khách hàng mua hàng qua hotline hoặc tại website : LShope.com hoặc Fanpage : LShope nếu có nhu cầu giao hàng tại nhà
            </p>
        </article>
        <header class="section-heading">
            <b> 2. HÌNH THỨC ÁP DỤNG: </b>
        </header><!-- sect-heading -->
        <article>
            <p>
                Sản phẩm & phụ kiện bán nguyên giá được miễn phí vận chuyển toàn quốc.
            </p>
            <p>
                Sản phẩm & phụ kiện bán trong chương trình khuyến mại: Miễn phí ship nội thành Hà Nội và HCM. Với khách ở khu vực Ngoại thành và Ngoại tỉnh sẽ tính phí vận chuyển theo đơn vị chuyển phát nhanh.
            </p>
            <p>
                Với sản phẩm đổi, bảo hành, bảo trì: Khách hàng chịu chi phí vận chuyển theo đơn vị chuyển phát của LShope.
                Chi phí này sẽ được LShope thông báo và xác nhận với quý khách trước khi quý khách tiến hành thanh toán và LShope tiến hành gửi hàng
            </p>
        </article>
    <br />
        <header class="section-heading">
            <b> 3. THỜI GIAN GIAO HÀNG : </b>
        </header><!-- sect-heading -->
        <article>
            <p>
                Thời gian giao hàng sẽ từ 1-5 ngày tùy vào khoảng cách vận chuyển.
            </p>
            <p>
                Trong một số trường hợp khách quan LShope có thể giao hàng chậm trễ do những điều kiện bất khả kháng như thời tiết xấu,
                điều kiện giao thông không thuận lợi, xe hỏng hóc trên đường giao hàng, trục trặc trong quá trình xuất hàng.
            </p>
            <p>
                Trong thời gian chờ đợi nhận hàng,
                Quý khách có bất cứ thắc mắc gì về thông tin vận chuyển xin vui lòng liên hệ hotline 0379 191 764 của LShope để nhận trợ giúp.
            </p>
        </article>
        <br />
        <header class="section-heading">
            <b> 4. TRÁCH NHIỆM VỚI HÀNG HÓA VẬN CHUYỂN . </b>
        </header><!-- sect-heading -->
        <article>
            <p>
                Dịch vụ vận chuyển của do LShope chỉ định sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ LShope đến quý khách.
            </p>
            <p>
                Quý khách có trách nhiệm kiểm tra hàng hóa khi nhận hàng.
                Khi phát hiện hàng hóa bị hư hại, trầy xước, bể vỡ, móp méo,hoặc sai hàng hóa
                thì ký xác nhận tình trạng hàng hóa với Nhân viên giao nhận và
                thông báo ngay cho Bộ phận chăm sóc khách hàng theo số hotline của LShope.
            </p>
            <br>
            <p>
                Sau khi quý khách đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa. LShope không có trách nhiệm với những yêu cầu đổi trả vì hư hỏng, trầy xước, bể vỡ, móp méo, sai hàng hóa,… từ quý khách sau này.
            </p>
            <p>
                Nếu dịch vụ vận chuyển do quý khách chỉ định và lựa chọn thì quý khách sẽ chịu trách nhiệm với hàng hóa và
                các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ LShope
                đến quý khách. Khách hàng sẽ chịu trách nhiệm cước phí và tổn thất liên quan.
            </p>
        </article>
        <br />
        <header class="section-heading">
            <b> 5. CAM KẾT </b>
        </header><!-- sect-heading -->
        <article>
            <p>
                LShope cam kết giao hàng tới tất cả các tỉnh thành trong phạm vi toàn quốc. Chúng tôi còn liên kết với các hãng vận chuyển hàng hóa chuyên nghiệp và uy tín trên thị trường …. đảm bảo cho hàng hóa được đảm bảo an toàn và đúng hẹn với quý khách hàng.
            </p>
        </article>
        <br />
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
