<section class="padding-bottom">
    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">
            Dịch vụ thương mại
        </h4>
    </header>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <article class="card card-post">
                <img src="~/Content/images/posts/1.jpg" class="card-img-top">
                <div class="card-body">
                    <h6 class="title">Đảm bảo thương mại</h6>
                    <p class="small text-uppercase text-muted">Order protection</p>
                </div>
            </article> <!-- card.// -->
        </div> <!-- col.// -->
        <div class="col-md-3 col-sm-6">
            <article class="card card-post">
                <img src="~/Content/images/posts/2.jpg" class="card-img-top">
                <div class="card-body">
                    <h6 class="title">
                        Thanh toán bất cứ lúc nào
                    </h6>
                    <p class="small text-uppercase text-muted">Giải pháp tài chính</p>
                </div>
            </article> <!-- card.// -->
        </div> <!-- col.// -->
        <div class="col-md-3 col-sm-6">
            <article class="card card-post">
                <img src="~/Content/images/posts/3.jpg" class="card-img-top">
                <div class="card-body">
                    <h6 class="title">Giải pháp kiểm tra</h6>
                    <p class="small text-uppercase text-muted">
                        Kiểm tra dễ dàng
                    </p>
                </div>
            </article> <!-- card.// -->
        </div> <!-- col.// -->
        <div class="col-md-3 col-sm-6">
            <article class="card card-post">
                <img src="~/Content/images/posts/4.jpg" class="card-img-top">
                <div class="card-body">
                    <h6 class="title">
                        Vận chuyển nhanh chóng 
                    </h6>
                    <p class="small text-uppercase text-muted">
                        Dịch vụ hậu cần
                    </p>
                </div>
            </article> <!-- card.// -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
</section>
